<form id="edit-post-form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script src="edit.js"></script>
