body {
    font-family: Arial, sans-serif;


}

.container {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8); /* Добавляет непрозрачный белый фон для контента */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px; /* Можете изменить отступ сверху в зависимости от вашего дизайна */
    margin-bottom: 50px;
}

/* Navbar styles */
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
}

/* Card styles */
.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

/* Button styles */
.btn-primary {
    background-color: #eff1f4;
    border-color: #f5f6f8;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}